[{:topic       :math, ;; :math :bahasa :english 
  :bahas       "\n\nGampang aja, sebuah bilangan bulat kalo dibagi pecahan $ 0 \\leq p \\leq 1 $ <br>\nya nilainya bakalan $ > $ dari bil itu sendiri ga sih? <br>\nJadi ga usah itungan akurat banget, ini latian untuk punya \"sense\" besar bilangan <br>\n$ x > 9 $\n",
  :soal        {:soal-text "\n\n<p>\n   $$ \\frac{ 11 }{ 1/7 } = x $$ <br><br>\n  Mana interval yang ada x :\n</p>\n\n\n",
                :options   [[true "$ x > 11 $ " 0]
                            [false "$ 1 < x \\leq 11 $ " 1]
                            [false "$ x > 9 $" 2]
                            [false "$ 1000 < x \\geq 1 $ " 3]],
                :jawaban   "A"},
  :problem-id  "033ebf31d8a94c06afe603af20f8a98f"}
 {:topic       :math,
  :bahas       "\n\nGampang aja, sebuah bilangan bulat kalo dibagi pecahan $ 0 \\leq p \\leq 1 $ <br>\nya nilainya bakalan $ > $ dari bil itu sendiri ga sih? <br>\nJadi ga usah itungan akurat banget, ini latian untuk punya \"sense\" besar bilangan <br>\n$ x > 9 $\n",
  :soal        {:soal-text "\n\n<p>\n   $$ \\frac{ 12 }{ 1/6 } = x $$ <br><br>\n  Mana interval yang ada x :\n</p>\n\n\n",
                :options   [[false "$ 1000 < x \\geq 1 $ " 0]
                            [false "$ 1 < x \\leq 12 $ " 1]
                            [true "$ x > 12 $ " 2]
                            [false "$ x > 9 $" 3]],
                :jawaban   "C"},
  :problem-id  "033ebf314f8b4a25997f94d5ee9e0e24"}]
